[submodule "3rdParty/Sources/SDL"]
	path = 3rdParty/Sources/SDL
	url = https://github.com/almostcomin/SDL.git
[submodule "3rdParty/Sources/imgui"]
	path = 3rdParty/Sources/imgui
	url = https://github.com/almostcomin/imgui.git
[submodule "3rdParty/Sources/glm"]
	path = 3rdParty/Sources/glm
	url = https://github.com/almostcomin/glm.git
[submodule "3rdParty/Sources/cgltf"]
	path = 3rdParty/Sources/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "3rdParty/Sources/DirectXTex"]
	path = 3rdParty/Sources/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "3rdParty/Sources/stb"]
	path = 3rdParty/Sources/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdParty/Sources/DirectX-Headers"]
	path = 3rdParty/Sources/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
